<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootadmin.min.css}">
    <link rel="stylesheet" th:href="@{/css/datatables.min.css}">
    <link rel="stylesheet" th:href="@{/css/fullcalendar.min.css}">

    <title>BootAdmin</title>
</head>
<body class="bg-light">

<nav class="navbar navbar-expand navbar-dark bg-primary" th:fragment="nav">
    <a class="sidebar-toggle mr-3" th:href="@{/}"><i class="fa fa-bars"></i></a>
    <a class="navbar-brand" th:href="@{/}">BootAdmin</a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
<!--            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-envelope"></i> 5</a></li>-->
<!--            <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-bell"></i> 3</a></li>-->
            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                <a href="#" id="dd_user" class="nav-link dropdown-toggle" data-toggle="dropdown"><i
                        class="fa fa-user"></i> <span sec:authentication="principal.username"></span></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd_user">
                    <a href="#" class="dropdown-item">Profile</a>
                    <form th:action="@{/logout}"
                          method="post">
                        <button class="dropdown-item">
                            Logout
                        </button>
                    </form>
                </div>
            </li>
            <li class="nav-item" sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="nav-link"><i class="fa fa-sign-in-alt"></i> Sign in</a>
            </li>
        </ul>
    </div>
</nav>

<div class="d-flex">
    <div class="sidebar sidebar-dark bg-dark" th:fragment="slidebar">
        <ul class="list-unstyled">
            <li>
                <a href="#sm_expand_1" data-toggle="collapse">
                    <i class="fa fa-fw fa-link"></i> Users and roles
                </a>
                <ul id="sm_expand_1" class="list-unstyled collapse">
                    <li><a th:href="@{/user}">Users</a></li>
                    <li><a th:href="@{/role}">Roles</a></li>
                </ul>
            </li>
            <li><a th:href="@{/product}"><i class="fa fa-fw fa-link"></i> Products</a></li>
            <li><a th:href="@{/brand}"><i class="fa fa-fw fa-link"></i> Brands</a></li>
            <li><a th:href="@{/category}"><i class="fa fa-fw fa-link"></i> Categories</a></li>
            <li>
                <a href="#sm_expand_2" data-toggle="collapse">
                    <i class="fa fa-fw fa-link"></i> Orders and items
                </a>
                <ul id="sm_expand_2" class="list-unstyled collapse">
                    <li><a th:href="@{/order}">Orders</a></li>
                    <li><a th:href="@{/order-item}">Order items</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>
        <div class="card mb-4">
            <div class="card-body">
                This is a blank page you can use as a starting point.
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                This is a blank page you can use as a starting point.
            </div>
        </div>
    </div>

</div>

<div th:fragment="scripts">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/bootadmin.min.js}"></script>
    <script th:src="@{/js/datatables.min.js}"></script>
    <script th:src="@{/js/fullcalendar.min.js}"></script>
    <script th:src="@{/js/moment.min.js}"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
</div>
</body>
</html>