<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/general.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/general.html :: nav"></nav>
<div class="d-flex">
    <div th:replace="fragments/general.html :: slidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Order list</h2>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-primary" href="order/create">Add Order</a>
            </div>
            <div class="card-body">
                <table id="example" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 15%">
                            Id
                        </th>
                        <th scope="col" style="width: 50%">
                            Date
                        </th>
                        <th scope="col" style="width: 20%">
                            UserID
                        </th>
                        <th scope="col" style="width: 15%">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${orders}">
                        <th scope="row" th:text="${order.id}">1</th>
                        <td th:text="${order.date}">Order date</td>
                        <td th:text="${order.user.id}">User id</td>
                        <td>
                            <a class="btn btn-success" th:href="@{/order/{id}(id = ${order.id})}"><i
                                    class="fas fa-edit"></i></a>
                            <form class="d-inline" th:action="@{/order/{id}/delete(id = ${order.id})}"
                                  th:method="delete">
                                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>UserID</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/general.html :: scripts"></div>
</body>
</html>