<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/general.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/general.html :: nav"></nav>
<div class="d-flex">
    <div th:replace="fragments/general.html :: slidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Order item profile</h2>

        <div class="card mb-4">
            <div class="card-header">
                <button class="btn btn-outline-primary fa fa-angle-left" onclick="goBack()"> Go Back</button>
            </div>
            <div class="card-body">
                <form id="form" th:action="@{/order-item/update}" method="post" th:object="${orderItem}">
                    <input th:type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label>Cost</label>
                        <input type="number" class="form-control" th:field="*{cost}" placeholder="Enter cost" required>
                    </div>
                    <div class="form-group">
                        <label>Count</label>
                        <input type="number" class="form-control" th:field="*{count}" placeholder="Enter count" required>
                    </div>
                </form>
            </div>
            <div class="card-footer bg-white">
                <button type="submit" class="btn btn-primary" form="form">Submit</button>
            </div>
        </div>

    </div>

</div>
<div th:replace="fragments/general.html :: scripts"></div>
</body>
</html>