<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/general.html :: head"></head>

<body class="bg-light">
<nav th:replace="fragments/general.html :: nav"></nav>
<div class="d-flex">
    <div th:replace="fragments/general.html :: slidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Product list</h2>
        <div class="card mb-4">
            <div class="card-header">
                <a class="btn btn-primary" href="product/create">Add Product</a>
            </div>
            <div class="card-body">
                <table id="example" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 15%">
                            Id
                        </th>
                        <th scope="col" style="width: 50%">
                            Title
                        </th>
                        <th scope="col" style="width: 20%">
                            Price
                        </th>
                        <th scope="col" style="width: 15%">
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product : ${products}">
                        <th scope="row" th:text="${product.id}">1</th>
                        <td th:text="${product.name}">Product name</td>
                        <td th:text="${product.prise}">Product prise</td>
                        <td>
                            <a class="btn btn-success" th:href="@{/product/{id}(id = ${product.id})}"><i
                                    class="fas fa-edit"></i></a>
                            <form class="d-inline" th:action="@{/product/{id}/delete(id = ${product.id})}"
                                  th:method="delete">
                                <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div th:replace="fragments/general.html :: scripts"></div>
</body>
</html>